{% extends 'layout.html' %}

{% block title %}
    用户登录
{% endblock %}

{% block content %}
    <h1>登录</h1>
    <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <button class="form-submit">Submit</button>
        <a href = "{% url 'users:register' %}"> 还没有账号？点击注册 </a> 
    </form>
{% endblock %}


